---
import {Markdown} from 'astro-remote'
import {supabase} from '../../database'
import BaseHead from '../../components/BaseHead.astro'
import Content from '../../layouts/Content.astro'
import Heading from "../../components/Heading.astro"
import HeroArticle from "../../components/HeroArticle.astro"
const {slug} = Astro.params
const {data} = await supabase.from('article').select('*,category(category_name)').eq('article_slug',slug).limit(1).single()
const markdown = data?.markdown_text
---
<!DOCTYPE html>
<html lang="es">
<head>
    <BaseHead title="SeventhArt" description="Blog" image={data?.article_image} keywords={data?.article_title ?? "Article"} />
</head>
<body class="overflow-x-hidden">
    <HeroArticle image={data?.article_image} title={data?.article_title}/>
    <Content>
        <div class="flex gap-4 flex-col">
            <Markdown content={markdown} components={{Heading}}/>
        </div>
    </Content>
</body>
</html>