---
import type { User } from '@supabase/supabase-js';
import { Avatar } from 'flowbite-react';
import ButtonComments from './ButtonComments';
import ButtonHearth from './ButtonHearth';
import ButtonShare from './ButtonShare';

interface Props{
    image?:string,
    category?:string,
    slug?:string,
    created_at?:string | null,
    title?:string,
    reading_time:number,
    created_by: User | null,
    article_id?:number
}
const {image,article_id,created_at,slug,title,reading_time,created_by} = Astro.props
---
<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
        <h1 class="text-neutral-900 font-semibold font-poppins [text-wrap:balance] text-4xl md:text-5xl">{title}</h1>
        <div class="flex">
            <Avatar
            img={created_by?.user_metadata.avatar_url}
            rounded
            >
            <div class="space-y-1 font-regular dark:text-white">
                <div class="font-light">
                {created_by?.user_metadata.name}
                </div>
                <div class="text-gray-400 flex gap-2 text-sm">
                    <span>{reading_time.toFixed(0)} minutos de lectura.</span>
                    <span>{new Date(created_at as string).toLocaleDateString()}</span>
                </div>
            </div>
            </Avatar>
        </div>
    </div>
    <div class="border-t border-zinc-400 border-b p-4 text-xl flex gap-2 mb-12">
        <div class="sm:relative sm:w-auto sm:text-inherit sm:text-black sm:py-0 sm:shadow-none sm:bg-transparent sm:gap-2 fixed z-10 bottom-0 left-0 w-full bg-white rounded-t-3xl shadow-[0_0_15px_rgba(0,0,0,.2)] flex [&>button]:flex-1 text-2xl py-6 text-gray-500">
            <ButtonHearth client:load article_id={article_id}/>
            <ButtonComments client:load />
        </div>
        <ButtonShare title={title as string} client:load />
    </div>
    <img src={image} alt={slug} class="rounded-b-sm w-full h-full object-cover"/>
</div>